<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="org.testvagrant.listener.ListenerClass"/>
    </listeners>
    <test  thread-count="2" name="Smoke">
        <classes>
            <class name="org.testvagrant.SampleTest"/>
        </classes>
    </test>
</suite>